body,
html {
  height: 100%;
  font-family: "Raleway", sans-serif !important;
}
.bg {
  background-image: url("v.jpg");
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
